@charset "utf-8";

// Colors
$secondary: #7fa998;
$subtle: #ccc;
$main-font: black;

// Mixins

@mixin clearfix {
  overflow: auto;
}

// Layout

body > .container {
  max-width: 900px;
  margin: 0 auto 5em;
}

body {
  font-family: 'Cabin';
}

dl {
  @include clearfix;
  dt {
    float: left;
    clear: left;
    font-weight: bolder;
    width: 50%;
    max-width: 200px;
    min-width: 100px;
  }
  dd {
    float: left;
    margin-bottom: 0.4em;
    max-width: 50%;
  }
}

.clearfix {
  @include clearfix;
}

#logo {
  text-align: center;
  font-family: 'Happy Monkey';
  text-transform: lowercase;
  font-size: 45px;
  margin: 45px 0;
  color: $secondary;
}

#main-navigation {
  border-top: 1px dashed $subtle;
  border-bottom: 1px dashed $subtle;
  font-family: 'Poiret One';
  font-size: 18px;
  ul {
    text-align: center;
    margin: 9px 0;
    padding: 0;
    li {
      display: inline;
      list-style-type: none;
      text-transform: uppercase;

      a {
        color: $main-font;
        margin: 10px;
      }

      &.active a { color: $secondary }

      &:after {
        content: "\2022";
        color: $subtle;
      }
    }
    li:last-child:after {
      content: none;
    }
  }
}

// Homepage
.welcome-pictures {
  margin: 2.5em 0 1.5em;
}

.welcome-pictures-container {
  width: 95%;
  margin: auto;

  img {
    width: 49%;
    float: left;
    margin-right: 2%;

    &:last-child {
      margin-right: 0;
    }
  }
}

.find-me {
  text-align: center;
}

// Research
.publication {
  margin: 1.2em 0 0.5em;
  .title {
    font-style: italic;
  }
}

.book {
  .title {
    font-style: italic;
  }
}

// Computing
#stylometry-expected-frequency-chart {
  max-width: 800px;
  width: 100%;
}
