---
title: 3D Printing - Undergraduate Student Projects - Computing
section: computing
---

%h1 3D Printing (2015)

%p
  You clicked on this link because as far as I know, everyone loves 3D printing. It’s fun to think about all of the things
  you can make, play around with CAD models and watch them be printed! But what I found out is that 3D printing on
  “affordable” home printers is quite finicky. It takes a lot of calibrating and trial-and-error, but it’s worth it! And
  in the end, we were able to print several good pieces.

%p
  A student did a few weeks’ research on 3D printers, before settling on building makerbot from the printrbot 3D maker’s
  kit. The printer took at least 15 hours to assemble. We then used it in conjunction with the free software Cura. Here
  are some reports the student wrote up while researching 3D printers.

%p
  = link_to 'Overview of 3D Printers', 'computing/student_projects/3d_printing/overview_of_3d_printers.pdf', target: '_blank'
  %br
  = link_to 'Comparison of Two Free Software Packages', 'computing/student_projects/3d_printing/software_comparisons.pdf', target: '_blank'
  %br
  = link_to 'Applications of 3D Printing in Teaching', 'computing/student_projects/3d_printing/teaching_applications.pdf', target: '_blank'
  %br
  = link_to '3D Pens', 'computing/student_projects/3d_printing/3d_pens.pdf', target: '_blank'

%p
  We did also try out a 3D pen, but found that particular pen very difficult to use.
