---
title: Adventures with Amy
section: home
---
.welcome-pictures.clearfix
  .welcome-pictures-container
    %img(src='/images/amy_with_nathan.jpg' alt='Amy' title='Amy with her husband, Nathan.')
    %img(src='/images/amy_and_suzanne_at_the_museum_of_mathematics.jpg' alt='Riding square-wheeled bikes' title='Amy and Suzanne riding square-wheeled bikes at the Museum of Mathematics in Manhattan, New York.')

.find-me
  Assistant Professor of Mathematics and Computing Science
  %br
  The King’s University, Edmonton, AB
  %br
  e-mail: amy [dot] feaver [at] kingsu [dot] ca
