---
title: Teaching
section: teaching
---

%h1 Teaching

%p
  I am always happy to share my course materials. Feel free to use, edit, and request .tex files, suggest improvements or
  direct your students to anything I post here. All I ask is that you cite me for my work! More materials will be added
  as I teach these courses repeatedly.

%h2 Regularly Taught Courses at The King’s University

%dl
  %dt= link_to('Introduction to Computers', '/teaching/intro_to_computers')
  %dd
    Taught every fall semester. HTML, JavaScript, recursion, truth tables, history, and impacts of technology on society.
  %dt= link_to('Data Structures', '/teaching/data_structures')
  %dd
    Taught every spring semester. C++ programming, pointers, arrays, linked lists, binary trees, stacks queues, and other data
    structures.
  %dt= link_to('Discrete Math', '/teaching/discrete_math')
  %dd
    Taught fall semester of odd years.
  %dt Cryptography
  %dd
    Taught spring semester of even years. Python 3 programming, RSA, Diffie-Helman, ElGamal, elliptic curve cryptography,
    historical ciphers, the enigma machine.
  %dt Numerical Analysis
  %dd Taught fall semester of even years.
  %dt Theory of Computing
  %dd Taught spring semester of odd years.

%h2 Other Courses

%dl
  %dt Abstract Algebra
  %dd A reading course co-taught with Remkes Kooistra at The King's University, summer 2016.
  %dt= link_to 'Math for Elementary Education', '/teaching/elementary_ed.html'
  %dd
    I taught this frequently (7 semesters total) as a graduate student at the University of Colorado.
    %em Course Coordinator
    \- spring 2011 and fall 2012.
  %dt Quantitative Reasoning
  %dd University of Colorado, summer 2010.
  %dt Calculus II
  %dd University of Colorado, spring 2009 and fall 2011.
  %dt Calculus I
  %dd University of Colorado, summer 2008.
  %dt Introduction to Robotics
  %dd The Johns Hopkins University Center for Talented Youth, summer 2009.

%p
  I have also helped with math intervention at Pioneer Elementary School in
  Lafayette, CO and ran part of the mathematics summer program at the Family
  Learning Center in Boulder, CO, for 6
  %sup> th
  \ – 8
  %sup> th
  \ grade students.

